<script id="books-handlebars" type="text/x-handlebars-template">
  {{#each books}}
  {{> book}}
  {{/each}}
</script>

<script id="book-handlebars" type="text/x-handlebars-template">
  <div class="book-listing">
    <hr>
    <div class="jacket">
      <img src="{{jacket}}" alt="">
    </div>
    <div class="info">
      <h4><a href="{{details_url}}">{{title}}</a></h4>
      <div>By <em>{{author}}</em></div>
      <div>({{format}} {{publishDate}})</div>
      <div class="{{availabilityClass}}">{{availability.name}}</div>
    </div>
  </div>
</script>


<h3 id="sort-options">
  <%= label_tag "sort", "Sort by:" %><%= select_tag(:sort, options_for_select(["Title", "Format", "Author", "Availability"])) %>
</h3>

<div id="books-listings">
</div>